.form-label {
    width: 140px;
    &:after {
        content: ":";
    }
}

.table-title {
    &:after {
        content: ":";
        margin-right: 5px;
    }
}

.answer-form {
    .btn {
        width: 50px;
    }
}
