<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/common.css}" rel="stylesheet">
        <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.min.js}"></script>
        <title th:text="#{label.quiz.crud.title}"></title>
    </head>

    <body>
        <div class="m-2 header">
            <h1 th:text="#{label.quiz.crud.title}"></h1>
            <h3 th:text="${title}"></h3>
            <p class="text-primary" th:if="${complete}" th:text="${complete}"></p>
        </div>

        <form class="m-2" method="POST" th:action="${quizForm.isNew} ? @{/quiz/insert} : @{/quiz/update}" th:object="${quizForm}">
            <div class="d-flex">
                <label class="form-label" th:text="#{label.form.question}"></label>
                <div class="form-group question-input">
                    <textarea class="form-control" th:errorclass="is-invalid" rows="5" cols="50" th:field="*{question}"></textarea>
                    <div class="invalid-feedback" th:errors="*{question}"></div>
                </div>
            </div>
            <div class="d-flex align-items-center my-1">
                <label class="form-label m-0" th:text="#{label.form.answer}" ></label>
                <div class="form-group d-flex">
                    <div class="form-check form-check-inline">
                        <input class="inlineRadioOptions" type="radio" value="true" th:field="*{answer}" />
                        <label for="answer1" th:text="#{label.button.answer.true}"></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="inlineRadioOptions" type="radio" value="false" th:field="*{answer}" />
                        <label for="answer2" th:text="#{label.button.answer.false}"></label>
                    </div>
                    <div class="invalid-feedback" th:errors="*{answer}"></div>
                </div>
            </div>
            <div class="d-flex">
                <label class="form-label" th:text="#{label.form.author}"></label>
                <div class="form-group author-input">
                    <input class="form-control" th:errorclass="is-invalid" type="text" th:field="*{author}" />
                    <div class="invalid-feedback" th:errors="*{author}"></div>
                </div>
            </div>
            <input th:if="${id}" type="hidden" th:field="*{id}" />
            <input type="submit" th:value="#{label.button.send}" />
        </form>

        <hr />

        <div class="m-2" th:if="${quizForm.isNew}">
            <h3><span class="table-title" th:text="#{label.table.title}"></span><a th:href="@{/quiz/play}" th:text="#{label.link.quiz.play}"></a></h3>
            <p class="text-primary" th:if="${delcomplete}" th:text="${delcomplete}"></p>
            <p class="text-danger" th:if="${msg}" th:text="${msg}"></p>
            <table class="table" th:nuless="${#lists.isEmpty(list)}">
                <tr>
                    <th class="bg-secondary bg-gradient text-white" th:text="#{label.table.header.id}"></th>
                    <th class="bg-secondary bg-gradient text-white w-75" th:text="#{label.table.header.question}"></th>
                    <th class="bg-secondary bg-gradient text-white text-center" th:text="#{label.table.header.answer}"></th>
                    <th class="bg-secondary bg-gradient text-white text-center" th:text="#{label.table.header.author}"></th>
                    <th class="bg-secondary bg-gradient text-white text-center" th:text="#{label.table.header.edit}"></th>
                    <th class="bg-secondary bg-gradient text-white text-center" th:text="#{label.table.header.delete}"></th>
                </tr>
                <tr th:each="obj:${list}">
                    <td class="bg-light" th:text="${obj.id}"></td>
                    <td class="bg-light w-75" th:text="${obj.question}"></td>
                    <td class="bg-light text-center" th:text="${obj.answer} ? #{label.answer.true} : #{label.answer.false}"></td>
                    <td class="bg-light text-center" th:text="${obj.author}"></td>
                    <td class="bg-light text-center">
                        <form method="GET" th:action="@{/quiz/{id}(id=${obj.id})}">
                            <input type="submit" th:value="#{label.button.edit}" />
                        </form>
                    </td>
                    <td class="bg-light text-center">
                        <form method="POST" th:action="@{/quiz/delete}">
                            <input type="hidden" name="id" th:value="${obj.id}" />
                            <input type="submit" th:value="#{label.button.delete}" />
                        </form>
                    </td>
                </tr>
            </table>
        </div>

        <p class="m-2" th:unless="${quizForm.isNew}">
            <a href="#" th:href="@{/quiz}" th:text="#{label.link.quiz.crud}"></a>
        </p>
    </body>
</html>
